{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "flow"
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    "flow"
  ]
}
